
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button class="btn btn-danger" data-toggle="modal"  data-target="#Modal1" >Yardım Al</button>

<div class="modal" id=Modal1>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Projeyi Uygulayan Ve Oluşturan Öğrenci</h2>
            </div>
            <div class="modal-body">
                <label>MURAT YÜCEDAĞ tarafından oluşturulan;</label>
                <label>"Youtube üzerinden gerçekleştirilen 50 Derste MVC Serisi ile"</label>
                <br />
                <label>Kasım 2024 Tarihinde; </label>
                <br />
                <label>CAN GÜNDOĞDU tarafından gerçekleştirilmiştir.</label>
            </div>
        </div>
    </div>

</div>