@model MvcStokYtube.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4>Yeni Müşteri Ekleme Alanı</h4>

<form method="post">
    <div>
        @*<label>Müşteri Adı</label>
        <input type="text" class="form-control" name="MUSTERIAD" />*@
    <label>Müsteri Adı</label>
        @Html.TextBoxFor(m=>m.MUSTERIAD, new {@class="form-control"})
        @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { style = "color:red" })
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        @*<input type="text" class="form-control" name="MUSTERISOYAD" />*@
        @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MUSTERISOYAD, "", new { style = "color:red" })
    </div>
    <div>
        <button class="btn btn-info">Müşteri Ekle</button>
    
    </div>
</form>

