
@{
    ViewBag.Title = "NewCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="KATEGORIAD" />
    </div>
    <div style="margin-top:25px">
        <btn class="btn btn-primary">Kategori Ekle</btn>
    </div>
</form>
