@model MvcStokYtube.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4>Ürün Ekleme Alanı</h4>

<form method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required="" maxlength="30"/>
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="MARKA" placeholder="Lütfen ürününüze ait Markayı bu alana yazınız..."  required=""/>
    </div>
    <div>
        <label>Ürün Kategorisi</label>
        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control"})
    </div>
    <div>
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" name="FIYAT" required=""/>
    </div>
    <div>
        <label>Stok Adedi</label>
        <input type="text" class="form-control" name="STOK" required=""/>
    </div>
    <div>
        <button class="btn btn-info" style=margin-top:25px >Ürün Ekle</button>

    </div>
</form>
